body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image:url(../images/color-wave.jpg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 100px;
    background-color: #22223a;
}

h1 {
    text-align: center;
    font-size: 70px;
    margin: auto;
    color: white;
    text-shadow: 1px -1px 16px white;
    border: 2px solid #e9e9e9;
    border-radius: 16px;
    width: 500px;
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 1px -1px 16px white;
}

#reset {
    padding: 5px;
    margin-top: 15px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    background-color: #392c7c;
    border: 8px solid #4f6af5;
    border-radius: 8px;
    height: 540px;
    width: 630px;
    margin: auto;
}

.slot {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9e9e9;
    height: 70px;
    width: 70px;
    border: 5px solid #4f6af5;
    border-radius: 50px;
    margin: 5px;
}

button {
    border: 10px 10px;
    box-shadow: -1px -1px 10px 5px #3b5eaf;
    cursor: pointer;
    color: #000;
    background-color: #e9e9e9;
    line-height: 30px;
    border-radius: 16px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

button:hover {
    box-shadow: rgb(32, 42, 68) -2px -2px 0px 2px, rgb(59, 94, 175) 0px 0px 0px 4px,
        rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
    background-image: linear-gradient(red, gold);
    color: white;
    text-shadow: -2px 2px 8px #000;
}

span {
    color: #da1820;
    font-size: 120px;
    text-shadow: 3px -3px 8px white;
}

img {
    display: flex;
}