body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image:url(https://images.unsplash.com/photo-1615799998603-7c6270a45196?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1004&q=80);

}

h1 {
    text-align: center;
    font-size: 70px;
    margin: 0;
    text-shadow: 2px 2px gold;
}

h2 {
    text-align: center;
}

#reset {
    padding: 5px;
    margin-top: 15px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    background-color: #3b5eaf;
    border: 8px solid navy;
    border-radius: 8px;
    height: 540px;
    width: 630px;
    margin: auto;
}

.slot {
    background-color: #e9e9e9;
    height: 70px;
    width: 70px;
    border: 5px solid navy;
    border-radius: 50px;
    margin: 5px;
}

button {
    border: 10px 10px;
    box-shadow: -1px -1px 10px 5px #3b5eaf;
    cursor: pointer;
    color: #000;
    background-color: #e9e9e9;
    line-height: 30px;
    border-radius: 16px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

button:hover {
    box-shadow: rgb(32, 42, 68) -2px -2px 0px 2px, rgb(59, 94, 175) 0px 0px 0px 4px,
        rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
    background-image: linear-gradient(red, gold);
    color: white;
    text-shadow: -2px 2px 0 #000;
}

span {
    color: red;
    font-size: 120px;
    text-shadow: 3px 5px black;
}