body {
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#reset {
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
    padding: 5px;
    margin-top: 15px;
    align-items: center;
}

/* .btn {
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 8px;
    font-size: large;
} */


.gameboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #3b5eaf;
    border: 8px solid navy;
    border-radius: 8px;
    height: 540px;
    width: 630px;
    margin: auto;
}

.slot {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 70px;
    width: 70px;
    border: 5px solid navy;
    border-radius: 50px;
    margin: 5px;
}

button {
    display: inline-block;
    outline: 0;
    border: 10px 10px;
    box-shadow: -1px -1px 10px 5px #3b5eaf;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #fff;
    line-height: 30px;
    border-radius: 16px;
    padding: 20px;
    font-size: 30px;
    font-weight: 600;
}

button:hover {
    box-shadow: rgb(32, 42, 68) -2px -2px 0px 2px, rgb(59, 94, 175) 0px 0px 0px 4px,
        rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transform: scale(1.01);
    background-image: linear-gradient(red, #3b5eaf);
    color: white;
    text-shadow: -2px 2px 0 #000;
}